html{min-width: 480px; min-height: 480px;}
body{min-width: 480px; min-height: 480px; margin:0; overflow-x: hidden; }

a {color:#F7941D}

h4, h5{
    color: white;
    margin:0px 20px;
    font-weight: 400;
}

hr {
    border: 0; 
    border-top: 1px solid #F7941D;
}

.top-column {
    width:100vw;
    height:100vh;
}

.mark { z-index: 2;}

.mark, .top-img, .newsBar, .squareTile, .squareTileR, .titleText{
    position: absolute;
}

.newsBar{
    background-color: #333D46;   
}

.greyback, .greybackL{
    background-color: #EFEFEF;
    z-index: 5;
}

.greybackL{
    margin-top: 50px;
}

ul{
    padding: 0;
}

li {
	list-style-type: none;
    display: inline-block;
	position: relative;
	margin-top:5px;
    margin-left: 0;
}

/******* 一排小圓點************/
.tips{
    margin:0;
    padding:0;
    z-index:999;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    list-style:none;
}
#tips li{
width:18px;
height: 18px;
border-radius:50%;
background:#333;
float:left;
margin-left:5px;
}
/* 切換到相應的圖片 相應小圓點的顏色 */
#tips .active{
background:red;
}

.squareTile, .squareTileR{
    z-index: 100;
}

.description{
    color: #333746;
    
    
    
}


.tileImg{
    width:calc(100% - 22px);
    height:calc(100% - 18px);
    border: 1px solid #333D46;
    position: absolute;
    margin: -22px 0px 0px 20px;
}

.tileImgR{
    width:calc(100% - 22px);
    height:calc(100% - 18px);
    border: 1px solid #333D46;
    position: absolute;
    margin: -22px 22px 0px 22px;
}

.tileText, tileTextR {
    color: #333D46;
}

.tileTextR{
}

.rotate {
    transform-origin: 0 0;
    transform: rotate(-270deg);

    /* Safari */
    -webkit-transform: rotate(-270deg);

    /* Firefox */
    -moz-transform: rotate(-270deg);

    /* IE */
    -ms-transform: rotate(-270deg);

    /* Opera */
    -o-transform: rotate(-270deg);

}

.l3s1{
    float:left;
    display: table;
    margin-left: 2%;
}

.rowCube{
    width: inherit;
    height:auto;
}

.blockText{
    margin: 0;
    font-size: 10pt;
    
}

.container{
    width:100%;
    padding-top: 100%;
    position: relative;
}
.square{
    width: inherit;
    height:inherit;
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.footer{
    width: inherit;
    height:auto;
    text-align: right;
    background-color: #33364d;
    padding: 20px;
}
    
}