html{min-width: 480px; min-height: 480px;}
body{min-width: 480px; min-height: 480px; margin:0; overflow-x: hidden; }

a {color:#F7941D}

h4, h5{
    color: white;
    margin:0px 20px;
    font-weight: 400;
}

hr {
    border: 0; 
    border-top: 1px solid #F7941D;
}

.top-column {
    width:100vw;
    height:100vh;
}

.mark { z-index: 2;}

.mark, .top-img, .newsBar, .squareTile, .squareTileR, .titleText{
    position: absolute;
}

.newsBar{
    background-color: #333D46;   
}

.menu{
    float:right;
    margin-right:30px;
    margin-top:10px;
}

.greyback, .greybackL{
    background-color: #EFEFEF;
    z-index: 5;
}

.greybackL{
    margin-top: 50px;
}

ul{
    padding: 0;
}

li {
	list-style-type: none;
    display: inline-block;
	position: relative;
	margin-top:5px;
    margin-left: 0;
}

/* Hide the images by default*/
.top-img {
  display: none;
} 

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgba(255,255,255,0.8);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev{
    left:0;
}
/* Position the "next button" to the right */
.next {
  right: 20px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: white;
}

/* The dots/bullets/indicators */

.index{
    position: absolute;
    margin-left: 40%;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin-left: 10px;
  border-radius: 50%;
  border:1px solid white;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: white;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.deco{
    margin:-3px;
    float:left;
}


.squareTile, .squareTileR{
    z-index: 100;
}

.description{
    color: #333D46;
}


.tileImg{
    width:calc(100% - 22px);
    height:calc(100% - 18px);
    border: 1px solid #33364D;
    position: absolute;
    margin: -22px 0px 0px 20px;
}

.tileImgR{
    width:calc(100% - 22px);
    height:calc(100% - 18px);
    border: 1px solid #33364D;
    position: absolute;
    margin: -22px 22px 0px 22px;
}

.tileText, tileTextR {
    color: #333D46;
}

.rotate {
    transform-origin: 0 0;
    transform: rotate(-270deg);

    /* Safari */
    -webkit-transform: rotate(-270deg);

    /* Firefox */
    -moz-transform: rotate(-270deg);

    /* IE */
    -ms-transform: rotate(-270deg);

    /* Opera */
    -o-transform: rotate(-270deg);

}

.l3s1{
    display: inline-block;
    margin-left: 2%;
}

.rowCube{
    width: inherit;
    margin-top: 50px;
}

.blockText{
    margin: 0;
    font-size: 10pt;
    
}

.container{
    width:100%;
    padding-top: 100%;
    position: relative;
}
.square{
    width: inherit;
    height:inherit;
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.footer{
    width: inherit;
    height:auto;
    background-color: #33364d;
    padding: 20px;
    display: block;
    overflow: auto; 
}

.goRight{
    float:right;
}
    
.footer-info{
    margin-right: 0;
    border-left: 1px solid #FFFFFF;
}