/*phone below639*/
@media screen and (max-width:639px) {
        
    .mark{
        width:calc(100vw * 0.25);
        height: auto;
    }
    
    .top-img {
        width: 100vw;
        height: calc(100vh - 78px);
        padding-top: 78px;
        overflow: hidden;
    }


    .bannerImg {
        width:inherit;
        height:inherit;
        object-position: center;
        object-fit: cover;
    }
    
    .newsBar{
        width: calc(100vw * 0.65);
        height: auto;
        right:0;
        bottom:80px;
    }
    
    .squareTile, .squareTileR{
        width:calc(100vw * 0.8);
        height:calc(100vw * 0.8);
        margin-left: 8%;
        margin-top: 50px;
    }
    
    .greyback, .greybackL{
        width:inherit;
        height:auto;
        margin-top: calc(100vw * 0.7);
    }
    
    .description{        
        padding:30% 8% 15% 8%;
    }
    .l3s1{
        width:84%;
        margin:0 8%;
    }
}


/*pad 640-959*/
@media screen and (min-width:640px) and (max-width:959px) {
    .mark{
        width:calc(100vw * 0.25);
        height: auto;
    }
    
    .top-img {
        width: 100vw;
        height: calc(100vh - 78px);
        padding-top: 78px;
        overflow: hidden;
    }

    .bannerImg {
        width:inherit;
        height:inherit;
        object-position: center;
        object-fit: cover;
    }
    
    .newsBar{
        width: calc(100vw - 20px);
        height: auto;
        right:0;
        bottom:0;
    }
    
    .squareTile{
        width:calc(100vw * 0.4);
        height:calc(100vw * 0.4);
        margin-left: 10%;
        margin-top: 50px;
    }
    .squareTileR{
        width:calc(100vw * 0.4);
        height:calc(100vw * 0.4);
        margin-left: 50%;
        margin-top: 50px;
    }
    
    .greyback, .greybackL{
        width:inherit;
        height:auto;
        margin-top: calc(100vw * 0.3);
    }

    .description{        
        padding:30% 10% 15% 10%;
    }

    .l3s1{
        width:30%;

    }
    
}


/* 960up */
@media screen and (min-width:960px){
    .mark{
        max-width:calc(100vw * 0.25);
        height: auto;
        max-height: calc(100vh * 0.5);
        margin-left: 2%;
        margin-top: 2%;
        
    }
    .top-img {
        width: calc(100vw - 100px);
        height: calc(100vh - 78px);
        margin-top: 78px;
        overflow-y: hidden;
    }

    .bannerImg {
        width:inherit;
        height:inherit;
        object-position: center;
        object-fit: cover;
    }
    
    .newsBar{
        width: calc(100vw * 0.95);
        height: auto;
        right:0;
        bottom:0;
    }
    
    .squareTile{
        width:calc(100vw * 0.25);
        height:calc(100vw * 0.25);
        margin-left: 10%;
        margin-top: 100px;
    }
    
    .squareTileR{
        width:calc(100vw * 0.25);
        height:calc(100vw * 0.25);
        margin-left: 60%;
        margin-top: 100px;
    }

    .greyback{
        width:calc(100vw * 0.7);
        height:auto;
        margin-left: calc(100vw * 0.3);
    }
    
    .greybackL{
        width:calc(100vw * 0.7);
        height:auto;
        margin-left: 0px;
    }
    
    .description{        
        padding:20%;
    }
    
    .l3s1{
        width:30%;
    }
    
}